<div class="pin-container">
  <h3>Autenticarse como administrador</h3>


  <p>Introduce tu correo electrónico:</p>
  <input 
    type="email" 
    [(ngModel)]="email" 
    placeholder="Correo electrónico" 
  />

  <p> Ingresa tu PIN de 4 dígitos: </p>
  <input 
      type="password" 
      [(ngModel)]="pin" 
      placeholder="PIN" 
    />
  <button class = "ingresar" (click)="validateAdmin()">Ingresar</button>
  <div *ngIf="errorMessage" style="color: red;">{{ errorMessage }}</div>


  <button class = "registrarse" (click)="navigateToRegisterForm()">Registrarme</button>

</div>
