.pin-container {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-align: center; /* Centrar texto */
    width: 400px; /* Ancho fijo */
    height:  300px;
    position: absolute; /* Permite el uso de top, left, etc. */
    top: 50%; /* Mueve el contenedor al 50% de la altura de la ventana */
    left: 50%; /* Mueve el contenedor al 50% del ancho de la ventana */
    transform: translate(-50%, -50%); /* Ajusta la posición para centrarlo */
    display: flex; /* Activa flexbox */
    flex-direction: column; /* Alinea elementos en columna */
    justify-content: center; /* Centra verticalmente el contenido */
    align-items: center; 
}

p {
    align-self: flex-start;
    padding-left: 30px;
    font-size: 12px;
}
h3 {
    margin-bottom: 30px; /* Espacio debajo del encabezado */
    font-size: 25px;
    color: #333; /* Color del texto del encabezado */
}

input[type="password"] {
    width: 80%; /* Ancho completo */
    padding: 10px;
    border: 1px solid #ccc; /* Borde del input */
    border-radius: 4px; /* Bordes redondeados */
    margin-bottom: 20px; /* Espacio debajo del input */
    font-size: 16px; /* Tamaño de fuente */
}

button {
    color: #ffffff; /* color del texto */
    background-color: #457b9d; /* Color de fondo */
    border: none; /* Sin borde */
    border-radius: 100px;  /* Bordes redondeados */
    padding: 12px 24px; /* Relleno del botón */
    font-size: 16px; /* Tamaño de fuente del botón */
    cursor: pointer; /* Cursor de puntero */
    transition: background-color 0.3s ease, box-shadow 0.3s ease; /* Suavizar transiciones */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Efecto de transición */
}

button:hover {
    background-color: #2774a4; /* Color más oscuro en hover */
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15); /* Color del botón al pasar el ratón */
}

div[style*="color: red;"] {
    margin-top: 10px; /* Espacio encima del mensaje de error */
}
