/* Centrado del formulario */
.formulario_poi {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 320px;
    border: 1px solid #ccc;
    font-family: 'Montserrat', sans-serif;
    max-height: 80vh; /* Altura máxima para permitir el scroll */
    overflow-y: auto; 
}

/* Estilos para el título */
.formulario_poi h3 {
    text-align: center;
    color: #333;
    margin-bottom: 30px;
    margin-top: 20px;
    font-size: 1.4em;
    font-weight: bold;
}

/* Estilos para las etiquetas */
.formulario_poi label {
    display: block;
    margin-bottom: 8px;
    font-size: 0.95em;
    color: #555;
    font-weight: 600;
}

/* Estilos para los campos de entrada */
.formulario_poi .input-field {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 20px;
    box-sizing: border-box;
    font-size: 0.95em;
    color: #333;
}

/* Efecto de hover en los campos de entrada */
.formulario_poi .input-field:hover {
    border-color: #457B9D;
}

/* Efecto de foco en los campos de entrada */
.formulario_poi .input-field:focus {
    border-color: #457B9D;
    outline: none;
}

.formulario_poi::-webkit-scrollbar {
    width: 8px;
}

.formulario_poi::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    border-radius: 10px;
}

.formulario_poi::-webkit-scrollbar-thumb {
    background-color: #457B9D;
    border-radius: 10px;
    border: 2px solid #f1f1f1;
}

.formulario_poi::-webkit-scrollbar-thumb:hover {
    background-color: #233a66;
}

.input-field, select {
    width: 100%;
    padding: 10px;
    margin: 5px 0 15px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif; 
    font-size: 16px; 
}

.readonly-field { 
    width: 100%;
    padding: 10px;
    margin: 5px 0 15px 0;
    display: inline-block;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif; 
    font-size: 16px;
    background-color: #cccccc51;
    color: #6f6f6f;
    outline: none;
    cursor: default;
}

.readonly-field:focus {
    outline: none;
    box-shadow: none;
}

.mapa-container {
    padding-bottom: 30px;
}

select {
    appearance: none; 
    background-color: white;
    cursor: pointer;
}

.custom-select {
    position: relative;
    width: 100%; /* O el tamaño que desees */
    font-family: 'Montserrat', sans-serif; /* Aplica la tipografía que ya usas */
}

.custom-select select {
    content: '▼'; /* Icono de dropdown */
    width: 100%;
    padding: 10px;
    appearance: none; /* Oculta el selector predeterminado del navegador */
    font-family: inherit; /* Asegura que herede la tipografía */
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    align-content: right;
    justify-content: center;
    color: #6f6f6f;
}


.custom-select::after {
    content: '▼'; /* Icono de dropdown */
    align-items: right;
    justify-items: center;
    position: absolute;
    top: 32%;
    right: 10px;
    transform: translateY(-50%);
    pointer-events: none;
    font-size: 12px;
    color: #457B9D;
    align-content: right;
    justify-content: center;
}

.custom-select select:focus {
    border-color: #457B9D;
    outline: none;
}

button {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px; /* Ajusta este valor según el tamaño que necesites */
    font-weight: 600; /* Asegura un peso moderado */
    color: #ffffff; /* color del texto */
    background-color: #457b9d; /* Color de fondo */
    width: 150px; 
    height: 40px; 
    border: none; /* Eliminar bordes por defecto */
    border-radius: 100px; /* Bordes redondeados para un look moderno */
    padding: 12px 20px; /* Espaciado interno cómodo */
    cursor: pointer; /* Cambiar el cursor a mano para botones */
    transition: background-color 0.3s ease, box-shadow 0.3s ease; /* Suavizar transiciones */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra suave para dar profundidad */
    align-items: center;
}

.boton-aregar { 
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.boton-agregar button {
    margin: 10px auto;
    margin-bottom: 16px;
    display: block;
}

.boton-activado:hover {
    background-color: #154360; /* Color más oscuro en hover */
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15); /* Aumentar sombra en hover */
}

/* Mensajes de error pequeños en rojo */
.error-msg {
    color: red;
    font-size: 0.75em;
    margin-top: -10px;
    margin-bottom: 10px;
    display: block;
  }
  .confirmacion#confirmacion {
    color: green;
    font-weight: bold;
    margin-top: 10px;
  }

.boton-desactivado {
    background-color: grey;
    color: white;
    cursor: not-allowed;
}

.boton-desactivado:hover {
    background-color: grey;
}

.boton-activado {
    background-color:  #457b9d;
    color: white;
    cursor: pointer;
}

/* Estilo del contenedor principal */
.agregar-imagenes {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
  }
  
  /* Estilo de la etiqueta */
  .agregar-imagenes label {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 8px;
    font-weight: bold;
    color: #333;
  }


 
  
