
<div class="formulario_poi">
    <h3>Agregar Punto de interés</h3>
  
    <form (ngSubmit)="enviarFormulario()" #poiForm="ngForm">
      <label for="nombreId">Nombre:</label>
      <input type="text" id="nombreId" [(ngModel)]="nombre" name="nombre" class="input-field" />
      
      <div class = "ubicacion-con-mapa">
        <div>
          <label for="ubicacionId">Ubicación:</label>
          <input 
            type="text" 
            id="ubicacionId" 
            [(ngModel)]="ubicacion" 
            name="ubicacion" 
            class = "readonly-field" 
            readonly 
            placeholder = "Seleccionar punto en el mapa"
            />
        </div>

        <div class = "mapa-container">
          <app-mapa-formulario
            (ubicacionSeleccionada)="onUbicacionSeleccionada($event)">
          </app-mapa-formulario>
        </div>
      </div>

      <label for="categoriaId">Categoría:</label>
      <div class="custom-select">
        <select id="categoriaId" [(ngModel)]="categoriaSeleccionada" (change)="CambioCategoria()" name="categoriaSeleccionada">
          <option value="" disabled selected>Seleccionar categoría</option>
          <option value="lugar">Lugar</option>
          <option value="evento">Evento</option>
        </select>
      </div><br />
  
      <label for="descripcionId">Descripción:</label>
      <input type="text" id="descripcionId" [(ngModel)]="descripcion" name="descripcion" class="input-field" /><br />
      <span *ngIf="descripcion.length > 150" class="error-msg">{{ errorLongitudDesc }}</span>
  
      <label for="horarioAperturaId">Horario Apertura:</label>
      <input type="time" id="horarioAperturaId" [(ngModel)]="horarioApertura" name="horarioApertura" class="input-field" /><br />
  
      <label for="horarioCierreId">Horario Cierre:</label>
      <input type="time" id="horarioCierreId" [(ngModel)]="horarioCierre" name="horarioCierre" class="input-field" /><br />
     
  
      <div *ngIf="mostrarFechaEvento">
        <label for="fechaEventoId">Fecha del Evento:</label>
        <input type="date" id="fechaEventoId" [(ngModel)]="fecha" name="fecha" class="input-field" /><br />
      </div>
      <span *ngIf="fecha > fechaFormateada" class="error-msg">{{ errorFecha }}
    </span>
      <div *ngIf="errorCamposFaltantes" class="error-msg">{{ errorCamposFaltantes }}</div>
  
      <button id="boton_enviar" type="submit" [disabled]="!poiForm.form.valid">Agregar al mapa</button>
      
      
      <!-- Resto del contenido del mapa -->
      

    </form>
  </div>
  