<div class="formulario_poi">
    <h3>Agregar Punto de interés</h3>
    
    <label>Nombre:</label>
    <input type="text" placeholder="Nombre del POI" class="input-field"/><br/><br/>

    <label>Dirección:</label>
    <input type="text" placeholder="Dirección del POI" class="input-field"/><br/><br/>

    <label>Categoría:</label>
    <input type="text" placeholder="Categoría" class="input-field"/><br/><br/>

    <label>Descripción:</label>
    <input type="text" placeholder="Descripción" class="input-field"/><br/><br/>

    <label>Horario Apertura:</label>
    <input type="text" placeholder="Horario de Apertura" class="input-field"/><br/><br/>

    <label>Horario Cierre:</label>
    <input type="text" placeholder="Horario de Cierre" class="input-field"/><br/><br/>

    <!-- <button (click)="enviarFormulario()">Crear POI</button> -->
</div>
