 h1 {
  text-align: center;
  margin-top: 114px;
  margin-bottom: 0px;
  padding: 0px;
 } 

 .titulo {
  justify-content: center;
  justify-self: center;
  width: 400px;
  height: auto;
  margin-bottom: 0px;
  padding: 0px;
 }

 p {
  font-size: 20px;
  margin-left: 6cm;
 }

 button {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px; 
  font-weight: 600; 
  color: #ffffff; 
  width: auto;  
  border: none; 
  border-radius: 100px; 
  padding: 12px 24px; 
  cursor: pointer; 
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

button:hover {
  background-color: #2774a4; 
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15); 
}

.button-user {
  justify-content: center;
  display: flex;
  align-items: center;
  height: auto;
  margin-top: 114px;
}

.button-user button {
  background-color: #457b9d;
}

.button-user button:hover {
  background-color: #21638d; 
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15); 
}

.button-admin {
  justify-content: center;
  display: flex;
  align-items: center;
  height: auto;
  margin-top: 16px;
}

.button-admin button {
  background-color: #1d3557;
}

.button-admin button:hover {
  background-color: #081b35;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15); 
}