/* Contenedor para el campo de ubicación y el mapa */
.ubicacion-con-mapa {
    display: flex; /* Coloca el mapa y el campo de ubicación en línea */
    align-items: center; /* Alinea verticalmente los elementos */
    gap: 20px; /* Espacio entre el campo de ubicación y el mapa */
  }
  
  /* Contenedor del mapa */
  .mapa-container {
    width: 300px; /* Ajusta el ancho del mapa según necesites */
    height: 300px; /* Ajusta la altura del mapa según necesites */
    border: 1px solid #ccc;
  }
  
  /* Asegura que el mapa ocupe todo el espacio del contenedor */
  .mapa-container app-mapa {
    width: 100%;
    height: 100%;
  }