
.mensaje-confirmacion {
  position: absolute;
  top: 10px; /* Mover a la parte superior */
  left: 50%;
  transform: translateX(-50%);
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1001;
  
}
#agregarPOI {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #E63946;
  color: white;
  border: none;
  font-size: 28px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.164);
  cursor: pointer;
  z-index: 1000;
  align-items: center;
  justify-items: center;
  font-display: flex;
}

#agregarPOI:hover {
  background-color: #d02735;
}


#search-container {
  position: fixed;
  gap: 5px;
  background-color: #ffffff;
  padding: 8px;
  border-radius: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  top: 20px;
  left: 80px; /* Ubica el contenedor a la izquierda */
  z-index: 1000;
  width: 250px;
  height: 25px; 
  font-family: 'Montserrat', sans-serif;
}


#search-container input[type="text"] {
  border: none;
  outline: none;
  padding: 8px 10px;
  border-radius: 15px;
  width: 200px;
  position: relative;
  top: -3px;
  font-family: 'Montserrat', sans-serif;
}

/* Estilo para el botón reducido */
#search-container button {
  background-color: #457b9d;
  color: white;
  border: none;
  border-radius: 50%; 
  width: 30px; 
  height: 30px; 
  padding: 0; 
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.5s;
  position: relative;
  top: -3px;
}

#search-container button:hover {
  background-color: #203948;
}


.search-area {
  width: 250px; 
  max-height: 200px;
  border-radius: 7px;
  background-color: #ffffffb3;
  margin-top: 0; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s;
  position: absolute;
  top: 60px;
  left: 80px;
  border:  none;
  z-index: 1000;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
}

.search-result {
  margin-top: 0px;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  padding-left: 15px;
}

.nombre-POI {
  padding: 8px;
  background-color: #f1f1f1;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  padding-left: 15px;
}

.nombre-POI:hover {
  background-color: #e0e0e0;
}

.search-area p, .nombre-POI {
  padding: 8px;
  padding-left: 15px; /* Margen a la izquierda del texto */
  font-size: 14px;
  background-color: #f1f1f1;
  border-radius: 5px;
  cursor: pointer;
}

.search-area p {
  margin: 0; /* Asegúrate de que el mensaje no tenga margen adicional */
  color: #5d5b5b; /* Opcional: color de texto para el mensaje de "no se encontraron resultados" */
}
