/* Contenedor principal */
.admin-container {
  position: relative;
  height: 100vh;
  width: 100%;
}

/* Botón de "POIs pendientes" */

.pois-pendientes-btn {
  font-family: 'Montserrat', sans-serif;
  position: absolute;
  top: 30px;
  right: 30px; /* Mover hacia la derecha */ 
  z-index: 1000; /* Asegúrate de que tenga un z-index adecuado */
}

.pois-pendientes-btn button {
  font-family: 'Montserrat', sans-serif;
  background-color: #457b9d;
  border:  none;
  padding: 8px;
  z-index: 1000;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  border-radius: 7px;
  color: white;
  font-size: 16px;
}

.pois-pendientes-btn button:hover {
  background-color: #154360;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

/* Recuadro de POIs pendientes */

.pois-pendientes {
  width: 350px; /* Ancho más amplio */
  max-height: 400px;
  overflow-y: auto;
  border-radius: 7px;
  background-color: #ffffffb3; /* Fondo blanco para mayor claridad */
  margin-top: 20px; /* Espaciado entre botones y lista */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s;
  position: absolute;
  top: 60px;
  right: 30px;
  border:  none;
  z-index: 1000;
}

ul {
  padding: 0 30px 0 30px;
  list-style-type: none;
}

.poi-item {
  padding: 0px;
  margin-top: 0px;
  border-bottom: 1px solid #9c9c9c;
  margin-bottom: 6px;
}

.poi-item:last-child {
  border-bottom: none;
}

.nombre-POI {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 0px;
}

.pois-pendientes:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.icon-buttons {
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Alinea verticalmente */
  margin-top: 0px;
  justify-self: center;
  padding-bottom: 10px;
}

/* Botones de íconos */
.icon-button-accept,
.icon-button-reject {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 24px;
  transition: transform 0.2s; /* Transición suave al hacer hover */
  margin-right: 8px;
}

.icon-button-accept {
  margin-left: 8px;
  margin-right: 6px;
  font-size: 28px;
  color: green;
}

.icon-button-accept:hover,
.icon-button-reject:hover {
  transform: scale(1.15); /* Aumenta el tamaño al pasar el mouse */
}

.icon-button-info {
  font-family: 'Montserrat', sans-serif;
  font-weight: 550;
  border-radius: 5px;
  height: 20px;
  font-size: 12px;
  background-color: #457b9d;
  border: none;
  color: #ffff;
  cursor: pointer;
  transition: transform 0.2s;
  margin-left: 4px;
}

.icon-button-info:hover {
  transform: scale(1.1); /* Aumenta el tamaño al pasar el mouse */
}

.detalles {
  font-size: 14px;
  font-weight: 550;
}

.detalles p:first-child{
  margin-top: 0px;
}

/* Contenedor de confirmación */
.confirmation {
  position: absolute;
  top: 10px; /* Mover a la parte superior */
  left: 50%;
  transform: translateX(-50%);
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1001;
  animation: fadeout 5s forwards;
}

.confirmation#no_hay{
  position: absolute;
  top: 10px; /* Mover a la parte superior */
  left: 50%;
  transform: translateX(-50%);
  background-color: #7590a2;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1001;
  animation: fadeout 5s forwards;
}

/* Animación de desvanecimiento */
@keyframes fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* Botones de ícono (✔️ y ❌) */
.icon-button {
  background-color: transparent; /* Fondo transparente */
  border: 2px solid; /* Borde sólido para que tenga mejor visibilidad */
  border-radius: 50%; /* Botón circular */
  width: 40px; /* Ancho fijo */
  height: 40px; /* Alto fijo */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px; /* Tamaño del icono */
  cursor: pointer; /* Cambiar el cursor a pointer */
  transition: background-color 0.3s ease, color 0.3s ease; /* Transición suave */
  margin-left: 10px;
}

/* Botón de aprobar (✔️) */
.icon-button.approve {
  border-color: #4caf50; /* Borde verde */
  color: #4caf50; /* Color del icono verde */
}

/* Botón de rechazar (❌) */
.icon-button.reject {
  border-color: #f44336; /* Borde rojo */
  color: #f44336; /* Color del icono rojo */
}

/* Estilo cuando el usuario pasa el cursor por encima (hover) en botón de aprobar */
.icon-button.approve:hover {
  background-color: #4caf50; /* Fondo verde al hacer hover */
  color: white; /* Cambiar el color del icono a blanco */
}

/* Estilo cuando el usuario pasa el cursor por encima (hover) en botón de rechazar */
.icon-button.reject:hover {
  background-color: #f44336; /* Fondo rojo al hacer hover */
  color: white; /* Cambiar el color del icono a blanco */
}

