<div class="admin-container">
  <app-mapa
            [puntosDeInteresAprobados]="approvedPOIs"
            [puntosDeInteresPendientes]="pendingPOIs">
  </app-mapa>

  <div class="pois-pendientes-btn">
    <button (click)="loadPendingPOIs()">POIs pendientes</button>
  </div>

  <div class="pois-pendientes" *ngIf="showPendingPOIs">
    <ul>
      <li class = "poi-item" *ngFor="let poi of pendingPOIs">
        <div class="nombre-POI" (click) = "mapComponent.centrarEnPOI(poi.nombre)">{{ poi.nombre }} </div>
        <div class = "icon-buttons">
          <button class="icon-button-accept" (click)="approvePOI(poi.nombre)">
            <img src="assets/001-comprobar.png" class = "tick-png">
          </button>
          <button class="icon-button-reject" (click)="rejectPOI(poi.nombre)">
            <img src="assets/cerrar.png" class = "cross-png">
          </button>
        </div>
      </li>
    </ul>
  </div>
  <div>
    <button id = "agregarPOI" (click)="navigateToForm()">+</button>
</div>

  <div class="confirmation" *ngIf="confirmationMessage">
    {{ confirmationMessage }}
  </div>

  <div class="confirmation" id="no_hay" *ngIf="noHayPoisMensaje">
    {{ noHayPoisMensaje }}
  </div>

</div>

