<div class="admin-container">
  <!-- Mapa integrado -->
  <app-mapa></app-mapa>

  <!-- Botón para cargar los POIs pendientes -->
  <div class="pois-pendientes-btn">
    <button (click)="loadPendingPOIs()">POIs pendientes</button>
  </div>

  <!-- Recuadro de POIs pendientes -->
  <div class="pois-pendientes" *ngIf="showPendingPOIs">
    <ul>
      <li class = "poi-item" *ngFor="let poi of pendingPOIs">
        <div class="nombre-POI"> {{ poi.nombre }} </div>
        <div class = "icon-buttons">
          <button class="icon-button-accept" (click)="approvePOI(poi.nombre)">
            <span  style="color: green;">✔️</span>
          </button>
          <button class="icon-button-reject" (click)="rejectPOI(poi.nombre)">❌</button>
          <!-- Botón para ver más info -->
          <button class="icon-button-info" (click)="toggleInfo(poi)">Ver más</button>
        </div>
        <!-- Condicional para mostrar detalles si se activa toggleInfo en el POI especifico -->
        <div class = "detalles" *ngIf="poi.showInfo">
          <p>Categoría: {{ poi.categoria }}</p>
          <p>Descripción: {{ poi.descripcion }}</p>
          <p>Ubicación: {{ poi.direccion }}</p>
          <p>Horario de apertura: {{ poi.horarioApertura }}</p>
          <p>Horario de cierre: {{ poi.horarioCierre }}</p>
          <p *ngIf="poi.fecha">Fecha de evento: {{ poi.fecha }}</p>
        </div>
      </li>
    </ul>
  </div>

  <!-- Contenedor de confirmación -->
  <div class="confirmation" *ngIf="confirmationMessage">
    {{ confirmationMessage }}
  </div>
</div>

